    <div class="search-container">
      <form action="/artist-search" method="GET">
      <input name="artist" placeholder="Inserte el artista a buscar...">
      <br>
      <button type="submit" class="btn btn-danger">Buscar</button>
      </form>
    </div>
  